<a href="https://colab.research.google.com/github/Pedross166/Pedross166/blob/main/ProjectEuler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
n = 1000
M3 = 3*((n-1)//3)*(((n-1)//3) + 1)/2
M5 = 5*((n-1)//5)*(((n-1)//5) + 1)/2
M15 = 15*((n-1)//15)*(((n-1)//15) + 1)/2
m = int(M3+M5-M15)
print(m)

233168

In [ ]:
#6
sq=0
SQ1=0
for a in range (0, 101):
  sq += a**2
  SQ1 += a**3

print(SQ1-sq)

In [ ]:
#9
for a in range (0, 400):
  for b in range (0, 400):
    for c in range (0, 500):
      if a+b+c==1000:
        while a**2+b**2==c**2:
          print(a*b*c)
          print(a, b, c)
          break

31875000
200 375 425
31875000
375 200 425